*{
    margin: 0%;
    padding: 0%;
}

@keyframes efecto{
    0% {
        opacity: 0%;
     }
    100%{
      opacity: 100%;
     }}

.contenedorCarta{
    font-size: 13px;
    text-align: center;
    width: 180px;
    height: 380px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: #313131;
    border-radius: 15px;
    transition: all 0.5s;
    animation-name: efecto;
    animation-iteration-count: unset;
    animation-duration: 3s
}

.contenedorCarta:hover{
    background-image: linear-gradient(to bottom right, black, #313131, #313131);
    font-size: 14px;
    width: 200px;
    height: 410px;
    box-shadow: 0 0 15px #0d6efd
}

.Carta{
    width: 150px;
    height: 280px;
    margin:0px auto;
}

.Imagen{
    margin-top: 15px;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 220px;
    background-color: white;
}

.Titulo{
    font-size: 20px !important;
    text-align: center;
}

.Precio{
    font-size: 15px !important;
    text-align: center
}

.Boton{
    margin-top: 10px;
    height: 25px;
    width: 50px;
    border: none;
    border-radius: 5px;
    background-color: #0d6efd;
}

.Stock{
    font-size: 13px !important;
}

.Descripcion{
    text-align: start;
}