*{
    margin: 0;
    padding: 0;
}

.m{
  margin-left: 35px;
  margin-right: 35px;  
}

.card{
    margin: 15px auto 15px;
    width: 1500px;
    display: flex;
    border: wheat 3px solid;
}

.contenedorImagen__card{
    width: 200px;
    height: 150px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.imagen{
    width: 200px;
    height: 150px;
    border-radius: 5px;
}

.contenedorNombre__card{
    margin: auto auto auto auto;
}

.nombre{

}

.contenedorCantidad__card{
    margin: auto auto auto auto;
}

.cantidad{

}

.contenedorPrecioUnitario__card{
    margin: auto auto auto auto;
}

.precioUnitario{

}

.contenedorPrecioTotal__card{
    margin: auto auto auto auto;
}

.contenedorButton__card{
    margin: auto auto auto auto;
}

.precio{

}

/* askfjasfas */
.remover{
    width: 50px;
    height: 50px !important;
    border-radius: 10px;
    border: red solid;
    background-color: red;
}

.clear{
    color: red;
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border: 2px red solid;
    background-color: transparent;
    transition: all 0.5s;
}

.clear:hover{
    background-color: red;
    color: white;
}

.linkInicioCart{
    text-decoration: none;
    list-style: none;
    color: white;
    border: 3px #0d6efd solid;
    font-size: 25px;
    border-radius: 5px;
    background-color: #0d6efd;
    transition: all 1s;
}
.linkInicioCart:hover{
    color: #0d6efd;
    border: 3px white solid;
    background-color: white;
}

.contenedorFormulario{
    height: 650px;
    width: 600px;
    background-color: #252424;
    padding: 50px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 300px;
    border-radius: 9px; 
    box-shadow: 0 0 15px black;  
    
}

.formulario{
    width: 500px;
    height: 50px;
    background-color: #313131;
    padding-left: 10px;
    border-radius: 25px;
    border-color: transparent;
    margin-bottom: 15px;
    font-size: 20px;
}

.formularioBoton{
    width: 250px;
    height: 50px;
    border-radius: 5px;
    border: 2px #0d6efd solid;
    background: transparent;
    color:#0d6efd;
    font-size: 20px;
    transition: all 1s;
}

.formularioBoton:hover{
    background-color: #0d6efd;
    color: white;
}

.tituloComentario{
    margin: 15px;
}

.comentario{
    font-size: 18px;
}