*{
    margin: 0%;
    padding: 0%;
}

.contenedor{
    width: auto;
    margin-top: 0%;
    text-align: center;
}

.contenedorContador{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Btn{
    width: 30px;
    margin: 10px 50px 0px 50px;
    font-size: 25px;
    color: white;
    background: transparent;
    border-color: #0d6efd; 
    border-radius: 10px;
}


.Contador{
    position: absolute;
}

.btnAdd{
    height: 25px;
    background-color: #0d6efd;
    color: white;
    border: none;
    border-radius: 10px;
    width: 60%;
}

.stockDisponible{
    font-size: 15px;
}