*{
    padding: 0%;
    margin: 0;
}

.ContenedorDeMenu{
    background-color: #252424;
    width: 100%;
    height: auto;
}

.InputBuscador{
    width: 500px;
    height: 35px;
    margin-top: 15px;
    margin-left: 340px;
    padding-left: 15px;
    color: white;
    background-color: #313131;
    border: 0px;
    border-radius: 20px;
    transform: translateX(-160px);
    /* border-radius: 5px; */
}

.BotonBuscador{
    width: 80px;
    height: 35px;
    color:  white;
    border-radius: 20px;
    border:0px;
    background: #0d6efd;
    Margin-left: 5px;
    transform: translateX(-160px);
    transition: box-shadow 0.5s;
}

.BotonBuscador:hover{
    box-shadow: 0 0 5px #0d6efd
}

.ContenedorDeLinks{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;}

.Lista{
    margin-bottom: 15px;
    list-style: none;
    margin-left: 20px;}    

.LinkMenu{
    text-decoration: none;
    padding: 6px 15px;
    color: white;
    border-radius: 20px;
    transition: all 0.5s;
}

.LinkMenu:hover{
    background-color: white;
    color: #0d6efd;}


