*{
    margin: 0%;
    padding: 0%;
}

.ContenedorDetail{
    margin-left: 70px;
    display: flex;
    width: auto;
}

.contenedorDetail__imagenDescripcion{
    width: 900px;
    margin: 20px;
}

.imagenDetail{
    width: 800px;
    height: 500px;
    border-radius: 10px;
}

.descripcionDetail{
    margin-top: 30px;
    margin-left: 50px;
    width: 800px;
    font-size: 20px;
    text-align: justify;
}

.contenedorDetail__nombrePrecio{
    text-align: start;
    margin: 20px;
    width: 300px;
}

.nombreDetail{
    margin-left: 15px ;
    font-size: 30px;
}

.precioDetail{
    margin-left: 15px ;
    font-size: 25px;
}

.contenedorBoton{
    width: 100px;
}

.info{
    margin: 30px 15px;
}

.botonDeCompra{
    background-color: #0d6efd;
    border-radius: 10px;
    color: white;
    border: none;
    margin-top: 350px;
    width: 100%;
    height: 30px;
}

/* .contenedorBoton{
    text-align: end;
} */